<div class="card-body p-3" style="width:300px">
    <ul class="list-group">
      <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong> &nbsp; {{ user.first_name }} {{user.last_name}}</li>
      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp; {{user.phone}}</li>
      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{user.email}}</li>
      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Address:</strong> &nbsp; {{address}}</li>
      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Latitude:</strong> &nbsp; {{user.latitude}}</li>
      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Longitude:</strong> &nbsp; {{user.longitude}}</li>
    </ul>
  </div>